body {
  background-image: url("https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt2b1eab7f0cab78cf/630f66496ee2d94d6e6a5456/Soccer_ball_football_general_view.jpg?auto=webp&format=pjpg&width=3840&quality=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  font-size: 15px;
  color: black;
  margin-top: 10px;
}

h1 {
  background-color: aliceblue;
  opacity: 0.7;
  text-align: center;
  display: inline-block;
  margin-top: 0px;
  padding: 0px 50px 0px 50px;
  border-radius: 50px;
  text-decoration: underline;
  border-style: solid;
}

h3,
#questionLabel,
#hintLabel,
#rightWrongMessage {
  background-color: aliceblue;
  opacity: 0.7;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px 50px 0px 50px;
  border-radius: 50px;
  font-size: 20px;
}

h4 {
  background-color: aliceblue;
  opacity: 0.7;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  padding: 0px 50px 0px 50px;
  border-radius: 50px;
  font-size: 20px;
}

#gamePageLabel {
  background-color: aliceblue;
  opacity: 0.7;
  text-align: center;
  display: inline-block;
  padding: 0px 50px 0px 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: solid;
  margin-top: -10px;
}

#mainPageLabel {
  background-color: aliceblue;
  opacity: 0.7;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  padding: 0px 50px 0px 50px;
  border-radius: 50px;
}

#premierLeagueButton {
  background-image: url("https://supersport-cms-prod.azureedge.net/media/icxfej42/premier-league.png?width=500");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  padding: 20px;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#laLigaButton {
  background-image: url("https://assets.laliga.com/assets/logos/laliga-v/laliga-v-1200x1200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 300px;
  padding: 20px;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#serieAButton {
  background-image: url("https://www.fifplay.com/img/public/serie-a-logo-transparent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  padding: 20px;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#ligue1Button {
  background-image: url("https://seeklogo.com/images/L/ligue-1-logo-CB821B1015-seeklogo.com.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 300px;
  padding: 20px;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#hintButton,
#guessButton,
#clearButton,
#restartButton {
  width: 70px;
  height: 70px;
  padding: 10px;
  font-size: 13px;
  margin: 3px;
  border-radius: 20px;
  font-weight: bold;
}

#answerInput {
  width: 300px;
  padding: 12px;
  margin: 3px;
  box-sizing: border-box;
}

#stickman {
  color: white;
  border: white dashed 2px;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid black;
  width: 400px;
}

button {
  background: base-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    /* @include transition; */
    background: lightgrey;
    border: solid 1px white;
    color: base-color;
  }
}

#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}
